@model IEnumerable<LICEORURALJASMINEZB.Models.GradoSeccion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionGrado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionSeccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionGrado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionSeccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdGradoSeccion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdGradoSeccion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdGradoSeccion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
