@model IEnumerable<LICEORURALJASMINEZB.Models.Alumno>

@{
    ViewData["Title"] = "Alumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="p-4 border rounded">
    <div class="container ">

        <div class="row">

            <div class="col-6">

            </div>
            <div class="col-6 text-right">
                <partial name="_CreatePartialButton" />
            </div>
        </div>
        <table id="example" class="table table-striped border">
            <thead class="thead-light">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(model => model.Nombres)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellidos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DocumentoIdentidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaNacimiento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sexo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ciudad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaRegistro)
                    </th>
                    <th></th>
                    </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentoIdentidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @if (item.Estado == "1")
                        {
                            <p>F</p>
                        }
                        @if (item.Estado == "2")

                        {
                            <p>M</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ciudad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @if (item.Estado == "1")
                        {
                            <p>Activo</p>
                        }
                        @if (item.Estado == "2")

                        {
                            <p>Inactivo</p>
                        }
                        @if (item.Estado == "3")
                        {
                            <p>Aplazado</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaRegistro)
                    </td>
                    <td style="width:150px;"><partial name="_TableButtonPartial" model="item.Id" /></td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
<br />