@model LICEORURALJASMINEZB.Models.Docente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1>Details</h1>

    <div>
        <h4>Docente</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DocumentoIdentidad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DocumentoIdentidad)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombres)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombres)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Apellidos)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Apellidos)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sexo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ciudad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ciudad)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Direccion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumeroTelefono)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumeroTelefono)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaRegistro)
            </dd>
        </dl>
    </div>
    <div class="col-">
        <div class="col-8 offset-4">
            <partial name="_DetailsAndBackToListButton" model="Model.Id" />
        </div>
    </div>
</div>