@model IEnumerable<LICEORURALJASMINEZB.Models.Curso>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container ">

    <div class="row">

        <div class="col-6">

        </div>
        <div class="col-6 text-right">
            <partial name="_CreatePartialButton" />
        </div>
    </div>
    <table id="example" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreCurso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCurso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @if (item.Estado == "1")
                        {
                            <p>Activo</p>
                        }
                        @if (item.Estado == "2")

                        {
                            <p>Inactivo</p>
                        }
                     
                    </td>
                    <td style="width:150px;"><partial name="_TableButtonPartial" model="item.IdCurso" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


