@model IEnumerable<LICEORURALJASMINEZB.Models.Horario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container ">

    <div class="row">

        <div class="col-6">

        </div>
        <div class="col-6 text-right">
            <partial name="_CreatePartialButton" />
        </div>
    </div>
    <table id="tabla" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NivelDetalleCurso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaSemana)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraFin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NivelDetalleCurso.IdNivelDetalleCurso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaSemana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td style="width:150px;"><partial name="_TableButtonPartial" model="item.IdHorario" /></td>
            </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {

    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>


        $(document).ready(function () {
            $('#tabla').DataTable({
                dom: 'Blfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ],
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                }

            });
        });
    </script>

}